.homepage {
  background-image: url('../assets/wall.jpg');
  background-size: cover;
  text-align: center;
  height: 58rem;
}

p {
  color: black;
}

img {
  position: relative;
  right: 10%;
  width: 120%;
}

h1 {
  color: rgb(172, 172, 2);
  font-weight: bold;
}

a {
  font-size: 1.2rem;
  font-weight: bold;
}
