.homepage {
  background-image: url('../assets/wall.jpg');
  background-size: cover;
  text-align: center;
  height: 57rem;
}

p {
  color: white;
}

img {
  padding: 70px 0px 0px 0px;
}

h1 {
  color: rgb(172, 172, 2);
  font-weight: bold;
}

a {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px;
}
