* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  background-color: rgb(108, 141, 130);
  height: 5rem;
}

.searchInput {
  width: 50rem;
}

.navbarUpButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin-left: 2.5%;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 1%;
}

.loginDiv {
  border: brown 5px;
  border-color: brown;
  width: 70%;
  height: 500px;
  width: 500px;
  background-color: bisque;

  position: relative;
  left: 35%;
  top: 200px;
  border-radius: 3%;
  background-color: rgb(189, 196, 176);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 50px;
  padding: 2rem;
}

.logInput {
  width: 20rem;
}

.userMailPassDiv {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 50px;
}

h1 {
  font-size: 3rem;
  color: rgb(0, 132, 103);
}

section {
  background: white;
}
